---
import { proyectos } from "@data/proyectos";
import ProjectCard from "@components/ui/ProjectCard.astro";
import Modal from "@components/ui/Modal.astro";
---

<section id="projects" class="py-16 px-0 md:px-0">
    <h2 class="text-4xl lato-black text-center mb-12 mt-8 animate">
        Proyectos
    </h2>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 w-full grid-flow-dense px-4 md:px-12"
    >
        {
            proyectos.map((proyecto, index) => {
                // Patrón Bento: Destacamos el primer proyecto y luego uno cada 8 para romper la monotonía
                const isLarge =
                    index === 0 ||
                    index === 8 ||
                    index === 16 ||
                    index === 24 ||
                    index === 32 ||
                    index === 40;
                return (
                    <ProjectCard
                        imgPortada={proyecto.imgPortada}
                        imgFull={proyecto.imgFull}
                        titulo={proyecto.titulo}
                        descripcion={proyecto.descripcion}
                        linkExterno={proyecto.linkExterno}
                        large={isLarge}
                        delay={(index % 6) * 100}
                    />
                );
            })
        }
    </div>

    <Modal />
</section>
